
.side-menu {
    height: 100%;
    width: 230px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    padding-top: 20px;
    border-right: 5px solid #ff3399; 
    overflow-y: auto;
    transition: width 0.3s; 

}

.side-menu a {
    padding: 25px;
    text-decoration: none;
    font-size: 21px;
    color: #ff3399;
    display: block;
    transition: 0.3s;
}


.side-menu a:hover {
    color: #000000;
    background-color: #ff3399;
}




.side-menu::-webkit-scrollbar {
    width: 8px; 
    height: 50px; 
}

.side-menu::-webkit-scrollbar-thumb {
    background-color: #ff3399; 
}

.side-menu::-webkit-scrollbar-track {
    background-color: #111;

}


